@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #ffffff;
  --white-50: #ffffff80;
  --white-20: #ffffff33;

  --title: #1a202c;
  --text: #717171;

  --background: #f3f5f7;

  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: boder-box;
}

header {
  background: var(--linear);
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: auto 41px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.link {
  text-decoration: none;
  color: var(--white);
  font-size: 24px;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 65px;
  margin-top: 73px;
  max-width: 900px;
  border-radius: 5px;
  border: none;
  background: var(--white-20);
}

/* .search > image {
  align-items: center;
  justify-content: center;
  width: 25px;
} */

.search-image {
  margin: auto;
  width: 20px;
  height: 20px;
  padding: 20px;
}

.search > input {
  background: transparent;
  height: 100%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.search > input::placeholder {  
  color: var(--white-50);
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.search > input:focus {
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  align-items: center;
}

#first-post {
  margin-top: 100px;
}

.content {
  margin: 24px;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 22px;
}

.post-header > p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--text);
}

.post-title {
  line-height: 32px;
  font-size: 26px;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--title);
  margin-bottom: 8px;
}

.post-content {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--text);
}

.posts {
  height: auto;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 50px;
  line-height: 32px;
}

@media screen and (max-width: 960px) {
  section {
    margin: 0 41px;
  }
}

@media (max-width: 480px) {
  header {
    height: 200px;
  }

  section {
    margin: 0 24px;
  }

  .header {
    margin: auto 24px;
  }

  .search {
    margin-top: 41px;
  }

  .search-image {
    width: 16px;
    height: 16px;
    padding: 16px;
  }

  .post-header > p {
    font-size: 14px;
    line-height: 18px;
  }

  .post-title {
    font-size: 18px;
    line-height: 22px;
  }

  .posts-content {
    font-size: 14px;
    line-height: 26px;
  }
}
